*.gitignore filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.rs filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.rs !text !filter !merge !diff
*.toml !text !filter !merge !diff
.gitignore !text !filter !merge !diff
*.py !text !filter !merge !diff
*.lock !text !filter !merge !diff
*.iml !text !filter !merge !diff
*.xml !text !filter !merge !diff
